<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">

    <!-- title of site -->
    <title>Next Gear Store</title>

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" th:href="@{/image/logo/nxt.jpg}" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <!--linear icon css-->
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">

    <!--flaticon.css-->
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">

    <!--animate.css-->
    <link rel="stylesheet" th:href="@{/css/animate.css}">

    <!--owl.carousel.css-->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- bootsnav -->
    <link rel="stylesheet" th:href="@{/css/bootsnav.css}">

    <!--style.css-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!--responsive.css-->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!--welcome-hero start -->
<section id="home" class="welcome-hero" th:style="'background: url(/image/welcome-hero/welcome-banner.jpg); background-position: center; background-size: cover;'">
    <!-- top-area Start -->
    <div class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
                <div class="container">
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="#">NXT<span></span></a>
                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu" >
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="scroll active"><a href="#home">Home</a></li>
                            <li class="scroll"><a href="#service">service</a></li>
                            <li class="scroll"><a href="#new-cars">NEWEST CARS</a></li>
                            <li class="scroll"><a href="#ban">FEATURED CARS</a></li>
                            <li class="scroll"><a href="#brand">brands</a></li>
                            <li class="scroll"><a href="#contact">Contact</a></li>
                            <!-- Login and Register Links -->
                            <li sec:authorize="isAuthenticated()" class="dropdown">  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span th:text="${firstName}"></span>  <span th:text="${lastName}"></span>   <span class="caret"></span>  </a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/logout}" class="logout-link">Logout</a></li>  </ul>
                            </li>

                            <li sec:authorize="!isAuthenticated()">
                                <a th:href="@{/login}">Login</a>
                            </li>
                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
        <div class="clearfix"></div>
    </div><!-- /.top-area-->
    <!-- top-area End -->

    <div class="container">
        <div class="welcome-hero-txt">
            <h2>Get Your Desired Car at a Reasonable Price</h2>
            <p>
                Explore our wide range of cars and find the perfect one for you.
            </p>
            <button class="welcome-btn" onclick="window.location.href='/shop'">View Products</button>
        </div>
    </div>

    <!--container search-->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="model-search-content">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>Brand</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">

                                    </select><!-- /.select-->
                                </div><!-- /.model-select-icon -->
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>Category</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">

                                    </select><!-- /.select-->
                                </div><!-- /.model-select-icon -->
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-12">
                            <div class="single-model-search">
                                <h2>Price</h2>
                                <div class="model-select-icon">
                                    <select class="form-control">
                                    </select><!-- /.select-->
                                </div><!-- /.model-select-icon -->
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="single-model-search text-center">
                                <button class="welcome-btn model-search-btn" onclick="window.location.href='#'">
                                    search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--service start -->
<section id="service" class="service">
    <div class="container">
        <div class="service-content">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car"></i>
                        </div>
                        <h2><a href="#">Online Reservation <span> of</span> car</a></h2>
                        <p>
                            Book your car online anytime, anywhere. Fast, easy, and secure reservations for your convenience.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car-repair"></i>
                        </div>
                        <h2><a href="#">Customer Service 24/7</a></h2>
                        <p>
                            Our support team is available 24/7 to assist you with any inquiries or issues. We're here for you!
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-service-item">
                        <div class="single-service-icon">
                            <i class="flaticon-car-1"></i>
                        </div>
                        <h2><a href="#">insurence support</a></h2>
                        <p>
                            Get comprehensive insurance support for your vehicle. We ensure your peace of mind on the road.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->

<!--new-cars start -->
<section class="new-cars" id="new-cars" >
    <div class="container">
        <div class="section-header">
            <p>checkout <span>the</span> latest cars</p>
            <h2>newest cars</h2>
        </div><!--/.section-header-->
        <div class="new-cars-content">
            <div class="owl-carousel owl-theme" id="new-cars-carousel">
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img th:src="@{/image/bmw-4-series.jpg}" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">bmw 4-series</a></h2>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <p class="new-cars-para2">
                                        Sed ut pers unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                    </p>
                                    <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                        view details
                                    </button>
                                </div><!--/.new-cars-txt-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img th:src="@{/image/new-cars-model/ncm2.png}" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">BMW series-3 wagon</a></h2>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <p class="new-cars-para2">
                                        Sed ut pers unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                    </p>
                                    <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                        view details
                                    </button>
                                </div><!--/.new-cars-txt-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img th:src="@{/image/BMW M5.jpg}" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">BMW M5</a></h2>
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                    <p class="new-cars-para2">
                                        Sed ut pers unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                    </p>
                                    <button class="welcome-btn new-cars-btn" onclick="window.location.href='#'">
                                        view details
                                    </button>
                                </div><!--/.new-cars-txt-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
            </div><!--/#new-cars-carousel-->
        </div><!--/.new-cars-content-->
    </div><!--/.container-->

</section><!--/.new-cars-->
<!--new-cars end -->


<!--featured-cars start -->
<!-- featured-cars.html -->
<section class="ban" id="ban">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${listProducts}">
                <a th:href="@{/products/details/{name}(name=${product.name})}" style="text-decoration: none; color: inherit;">
                    <div class="product-card">
                        <div class="card-image">
                            <img th:src="@{/image/{filename}(filename=${product.imageFileName})}"
                                 th:alt="${product.name}" />
                        </div>
                        <div class="card-content">
                            <h2 class="car-title" th:text="${product.brand + ' ' + product.name}"></h2>
                            <p class="car-subtitle" th:text="${product.category}"></p>

                            <div class="tags-container">
                                <span class="tag" th:if="${product.automatic}">Automatisch</span>
                                <span class="tag" th:if="${product.fuelTypes == 'Benzine'}">Benzine</span>
                            </div>

                            <div class="specs-grid">
                                <div>Model: <span th:text="${product.modelYear}"></span></div>
                                <div>Mileage: <span th:text="${product.mileage}"></span></div>
                                <div>HP: <span th:text="${product.horsepower}"></span></div>
                                <div>Speed: <span th:text="${product.totalSpeed}"></span></div>
                            </div>

                            <div class="price-section">
                                <div>
                                    <div class="price">€ <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span></div>
                                    <div class="price-details">Per maand excl. BTW</div>
                                </div>
                                <button class="favorite-btn">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--/.featured-cars-->
<!--featured-cars end -->


<!-- clients-say strat -->
<section id="clients-say"  class="clients-say">
    <div class="container">
        <div class="section-header">
            <h2>what our clients say</h2>
        </div><!--/.section-header-->
        <div class="row">
            <div class="owl-carousel testimonial-carousel">
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img th:src="@{/image/clients/c1.png}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p>
                                    Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit.
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2><a href="#">tomas lili</a></h2>
                                <h4>new york</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img th:src="@{/image/clients/c2.png}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p>
                                    Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit.
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2><a href="#">romi rain</a></h2>
                                <h4>london</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
                <div class="col-sm-3 col-xs-12">
                    <div class="single-testimonial-box">
                        <div class="testimonial-description">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img th:src="@{/image/clients/c3.png}" alt="image of clients person" />
                                </div><!--/.testimonial-img-->
                            </div><!--/.testimonial-info-->
                            <div class="testimonial-comment">
                                <p>
                                    Sed ut pers unde omnis iste natus error sit voluptatem accusantium dolor laudan rem aperiam, eaque ipsa quae ab illo inventore verit.
                                </p>
                            </div><!--/.testimonial-comment-->
                            <div class="testimonial-person">
                                <h2><a href="#">john doe</a></h2>
                                <h4>washington</h4>
                            </div><!--/.testimonial-person-->
                        </div><!--/.testimonial-description-->
                    </div><!--/.single-testimonial-box-->
                </div><!--/.col-->
            </div><!--/.testimonial-carousel-->
        </div><!--/.row-->
    </div><!--/.container-->

</section><!--/.clients-say-->
<!-- clients-say end -->



<!--brand strat -->
<section id="brand"  class="brand">
    <div class="container">
        <div class="brand-area">
            <div class="owl-carousel owl-theme brand-item">
                <div class="item">
                    <a href="#">
                        <img th:src="@{/image/brand/bmw-logo.png}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img th:src="@{/image/brand/porsche.png}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img th:src="@{/image/brand/br6.png}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
                <div class="item">
                    <a href="#">
                        <img th:src="@{/image/brand/audi.png}" alt="brand-image" />
                    </a>
                </div><!--/.item-->
            </div><!--/.owl-carousel-->
        </div><!--/.clients-area-->

    </div><!--/.container-->

</section><!--/brand-->
<!--brand end -->



<!--contact start-->
<footer id="contact"  class="contact">
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <a href="#">NXT</a>
                        </div>
                        <p>
                            Ased do eiusm tempor incidi ut labore et dolore magnaian aliqua. Ut enim ad minim veniam.
                        </p>
                        <div class="footer-contact">
                            <p>info@themesine.com</p>
                            <p>+1 (885) 2563154554</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>about devloon</h2>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">career</a></li>
                            <li><a href="#">terms <span> of service</span></a></li>
                            <li><a href="#">privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="single-footer-widget">
                        <h2>top brands</h2>
                        <div class="row">
                            <div class="col-md-7 col-xs-6">
                                <ul>
                                    <li><a href="#">BMW</a></li>
                                    <li><a href="#">audi</a></li>
                                    <li><a href="#">Honda</a></li>
                                    <li><a href="#">porsche</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h2>news letter</h2>
                        <div class="footer-newsletter">
                            <p>
                                Subscribe to get latest news  update and informations
                            </p>
                        </div>
                        <div class="hm-foot-email">
                            <div class="foot-email-box">
                                <input type="text" class="form-control" placeholder="Add Email">
                            </div><!--/.foot-email-box-->
                            <div class="foot-email-subscribe">
                                <span><i class="fa fa-arrow-right"></i></span>
                            </div><!--/.foot-email-icon-->
                        </div><!--/.hm-foot-email-->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        &copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
                    </p><!--/p-->
                </div>
                <div class="col-sm-6">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.footer-copyright-->
    </div><!--/.container-->

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>

    </div><!--/.scroll-Top-->

</footer><!--/.contact-->
<!--contact end-->


<!-- Include all js compiled plugins (below), or include individual files as needed -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Handle favorite button clicks
        const favoriteButtons = document.querySelectorAll(".favorite-btn")

        favoriteButtons.forEach((button) => {
            button.addEventListener("click", function (e) {
                e.preventDefault() // Prevent card link click
                this.classList.toggle("active")
            })
        })
    })
</script>
<script th:src="@{/js/jquery.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootsnav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>